.header{
    min-height: 0;
}

.main__aviso-legal,
.main__politica-privacidad,
.main__terminos-de-uso{
    background-color: #FAF9F6;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.25rem;
    gap: 1.25rem;
    line-height: 1.3;

}

.main__aviso-legal-title,
.main__politica-privacidad-title,
.main__terminos-de-uso-title{
    font-size: 1.25rem;
    text-align: center;
    color: #333;
}

.main__aviso-legal-subtitle,
.main__politica-privacidad-subtitle,
.main__terminos-de-uso-subtitle{
    font-size: 1.125rem;
    color: #333;
}

.main__politica-privacidad-introduction,
.main__terminos-de-uso-introduction{
    font-size: 1.125rem;
    color: #333;
}

.main__aviso-legal-text,
.main__politica-privacidad-text,
.main__terminos-de-uso-text{
    font-size: 1rem;
    color: #333;
}

.text__paragraph{
    align-self: flex-start;
}

.main__politica-privacidad-list-item,
.main__terminos-de-uso-list-item{
    list-style-type: disc;
}

.main__politica-privacidad-general,
.main__aviso-legal-general,
.main__terminos-de-uso-general{
    background-color: #FAF9F6;
}

@media screen and (min-width: 1200px){

    .header{
        background: none;
        background-color: #faf9f6;
        height: 5rem;
    }

    .main__aviso-legal-title,
    .main__politica-privacidad-title,
    .main__terminos-de-uso-title{
        font-size: 3.125rem;
        
    }

    .main__aviso-legal-subtitle,
    .main__politica-privacidad-subtitle,
    .main__terminos-de-uso-subtitle{
        font-size: 2.8125rem;
       
    }

    .main__aviso-legal-text,
    .main__politica-privacidad-text,
    .main__terminos-de-uso-text{
        font-size: 1.875rem;
        
    }
    
    
    .main__politica-privacidad-introduction,
    .main__terminos-de-uso-introduction{
        font-size: 2.8125rem;
        color: #333;
    }
    
    .main__politica-privacidad-list-item,
    .main__terminos-de-uso-list-item{
        font-size: 1.875rem;
        
    }

    .main__aviso-legal,
    .main__politica-privacidad,
    .main__terminos-de-uso{
        max-width: 91.625rem;
        background-color: #FAF9F6;
        margin: 1.875rem 0rem;
        gap: 2.875rem;
        line-height: 1.3;
    }
}
