/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "";
  src: url("") format("woff2"), url("") format("woff");
}

/* ******************************** */

/* Colores */

/* ******************************** */

:root{
  --background-section: #FAF9F6;
  --text-color: #333333;
  --background-color: #E2EBCD;
  --background-color-dos: #8DA954;
  --body-color: #F6FCE8;
  --color-terciary: #FFCC96;

  /* mobile */
  --titulo-banner: 5.3125rem;
  --subtitulo-banner: 2.5rem;
  --titulo-contenido: 1.5rem ;
  --parrafos-contenido: 1.25rem;
  --subtitle-section: 1.5rem;

  /* desktop */
  --titulo-banner-desktop: 10.5rem;
  --subtitulo-banner-desktop: 4rem;
  --titulo-contenido-desktop: 3.625rem;
  --parrafos-contenido-desktop: 3rem;
}

*{
  box-sizing: border-box;
}

html{
  font-size: 10px;
  overflow-x: hidden;
}

body{
  height: 100%;
  background-color: var(--body-color);
  font-family: montserrat, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  line-height: 1;
}

a{
  color: var(--text-color);
}

.header{
  min-height: 80vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  background: url(/img/desktop/FONDO\ VERTICAL\ NATURAL\ BOOST\ CON\ TEXTURA.avif) center center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

.header__image-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 1.25rem;
}

.header__nav-desktop{
  display: none;
}

.header__nav{
  display: none;
  width: 100%;
  height: 100dvh;

  position: absolute;
}

.nav__links{
  transition: all ease-in-out 0.3s;
}

.nav__links:hover{
  transform: scale(1.1);
  transition: all ease-in-out 0.3s;
}

.nav__items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  gap: 100px;

  position: relative;

  color: var(--text-color);
  font-weight: 700;
  font-size: 3.125rem;
  background: url(/img/desktop/FONDO\ VERTICAL\ NATURAL\ BOOST\ CON\ TEXTURA.avif) center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__boton-x{
  width: 2.8125rem;
  height: 2.8125rem;
  
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
  cursor: pointer;
}

.header__hamburger{
  display: inline;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.header__logo{
  display: inline;
  width: 2.8125rem;
  height: 3.125rem;
}

.header__main-image{
  width: 100%;
  padding: 1.25rem;
  padding-top: 1.25rem;
} 

.titulo__marca{
  font-size: var(--titulo-banner);
  color: var(--text-colorolor, #333);
  
  text-align: center;
  line-height: 1;

  margin-top: 3.125rem;
}

.titulo__subtitle-eslogan{
  font-size: var(--subtitulo-banner);
  color: var(--text-color);
  
  text-align: center;
  font-weight: 650;
  margin-top: 1.25rem;
}

.footer{
  width: 100%;
  padding: 1.5625rem 1.25rem;
  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;

  background: url(/img/desktop/FONDO\ VERTICAL\ NATURAL\ BOOST\ CON\ TEXTURA.avif) center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__links-legales{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;


  font-size: var(--titulo-contenido);
  font-weight: 600;
  color: var(--text-color);
  
}

.links__legales-aviso-legal, 
.links__legales-politica-privacidad,
.links__legales-terminos-uso{
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.links__legales-aviso-legal:hover, 
.links__legales-politica-privacidad:hover,
.links__legales-terminos-uso:hover{
  transition: all ease-in-out 0.3s;
  transform: scale(1.1);
}

.social-networks-facebook, 
.social-networks-instagram, 
.social-networks-pinterest, 
.social-networks-x{
  text-decoration: none;
  color: var(--text-color);

  width: 2.8125rem;
  height: 2.8125rem;
  
}

.footer__social-networks{
  display: flex;
  flex-direction: row;

  padding: 2.5rem 0rem;
  justify-content: space-between;
  gap: 4.375rem;
}

.footer__derechos-reservados{
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  font-size: var(--parrafos-contenido);
  font-weight: 600;
  text-align: center;
  gap: .5rem;
}

.ocultar{
  display: none;
}

.mostrar{
  display: block;
}

.main__introduccion{
  width: 100%;
  height: 15.625rem;
  border: 1px solid var(--text-color);

  text-align: center;
  background-color: var(--background-section);
  padding: 1.25rem 2.5rem;
  line-height: 1.3;

}

.main__subtitulo{
  font-size: 2rem;
  color: var(--text-color);
}

.main__content{
  font-size: var(--parrafos-contenido);
  color: var(--text-color);
  text-align: left;
  padding: 1.25rem 1.25px;
  line-height: 1.3;
  font-weight: 200;
}

.main__section{
  background-color: var(--background-section);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: .5rem;
  padding: 1.875rem 1.5625rem;
  margin: 1.875rem;
}

.main__conocenos-mejor{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main__nuestro-compromiso{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main__nuestros-productos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.main__btn{
  background-color: var(--text-color);
  color: var(--background-section);
  border-radius: .5rem;
  padding: .9375rem 6.5rem;
  font-size: var(--parrafos-contenido);
  font-weight: 500;
}

.main__product-image-desktop{
  display: none;
}

.form{
  background-color: var(--background-section);
  color: var(--text-color);
  box-sizing: border-box;

  width: 80dvw;
  height: 21.875rem;

  display: flex;
  flex-direction: column;
  margin: 1.875rem;
  border-radius: .5rem;
  border: 1px solid var(--text-color);
  justify-content: center;
}

.complete__form{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.form__text-content{
  text-align: center;
}

.form__input-email, .form__input-name{
  width: 90%;
  padding: .9375rem;
  margin: 0rem 1.25rem;
  border-radius: .5rem;
  border: 1px solid rgb(221, 215, 215);
  background-color: var(--background-section);
  margin-bottom: 20px;
}


input[type="text"]{
  width: 90%;
}

.form__name-label,
.form__email-label{
  margin: 0px 1.25rem;
  margin-top: 1.875rem;
  margin-bottom: .9375rem;
  font-size: 1.25rem;
  color: var(--text-color);
}

.form__email-label{
  margin-top: 0;
}

.form__btn{
    padding: 1rem 4rem;
    width: fit-content;
    margin: 0 auto;
  
}

@media screen and (min-width: 1200px){

  .main__introduccion{
    height: 37.5rem;
    padding: 0;
    
    display: grid;
    grid-template-columns: 8.4375rem 1.5fr 0.5fr 8.4375rem;
    grid-template-rows: 3.75rem 0.3fr 3.75rem 2fr 3.75rem;
    
  }

  .subtitulo__revitalizate{
    font-size: 3.75rem;
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    
  }
  
  .content__revitalizate{
    font-size: 2.5rem;
    
    grid-column: 2 / 3;
    grid-row: 3 / 5;
  }
  
  .main__product-image{
    display: none;
  }

  .main__product-image-desktop{
    display: initial;
    width: 600px;
    object-fit: cover;
    padding-bottom: 100%;
    overflow: hidden;

    grid-column: 3 / 4;
    grid-row: 1 / -1;
  }

  .main__nuestros-productos{
    margin: 5.625rem 8.75rem;

    display: grid;
    grid-template-columns: 3.75rem 1fr 1fr 1fr 3.75rem;
    grid-template-rows: 3.75rem 3.75rem 3.75rem 1fr 1.25rem 5.625rem .2344rem;
  }

  .subtitulo__nuestros-productos{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }

  .subtitulo__nuestros-productos,
  .subtitulo__compromiso,
  .subtitulo__conocenos,
  .subtitulo__revitalizate,
  .subtitulo__form{
    font-size: 3.75rem;

  }

  .content__compromiso,
  .content__conocenos,
  .content__nuestros-productos,
  .content__revitalizate,
  .form__text-content{
    font-size: 2.5rem;
  }
  
  .content__nuestros-productos{
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }
  
  .all__products{
    grid-column: 4 / 5;
    grid-row: 4 / 5;
  }
  
  .btn__productos,
  .btn__compromiso,
  .btn__conocenos,
  .form__btn{
    font-size: 2.5rem;
    text-align: center;
  }

  .btn__productos{
    grid-column: 3 / 4;
    grid-row: 6 / 7;
  }

  .container__sections{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0rem 6.7rem 5.625rem 6.7rem;

  }
   .main__conocenos-mejor,
   .main__nuestro-compromiso{
      width: 75rem;
      padding: 1.25rem;
   }

   .btn__conocenos{
      margin-bottom: 7rem;
  
   }

   .content__compromiso{
    padding: 2.5rem;
   }

   .content__conocenos{
    padding: 2.5rem;
   }

   .subtitulo__conocenos{
    
    padding-top: 4.375rem;
   }

   .content__compromiso,
   .content__conocenos{
    margin-top: 1.875rem;
   }

  .image__grupo,
  .image__compromiso-verde{
    width: 50rem;
    
  }

  .complete__form{
    margin-bottom: 1.25rem;
  }

  label{
    font-size: 2rem;
  }


}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main__container{
  max-width: 80%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container__first-product,
.container__second-product,
.container__third-product{
  background-color: var(--background-section);
  padding: 1.25rem;
  margin: 2.1875rem 0rem;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  border-radius: .5rem;
}

.subtitle__nuestros-productos{
  margin-top: 1.875rem;
}

.subtitle__green-vitality,
.subtitle__yellow-sunshine,
.subtitle__red-energy{
  margin-top: 1.875rem;
}

.image__container{
  background: url(/img/desktop/FONDO\ CON\ TEXTURA\ NATURAL\ BOOST.avif) center center;
  background-repeat: no-repeat;
  background-size: cover;
}


@media screen and (min-width: 1200px){
  
    .header{
      height: 95vh;

      background: url(../img/desktop/PORTADA\ NATURAL\ BOOST\ FONDO\ TEXTURA.avif) center center;
      background-size: cover;
      background-repeat: no-repeat;

      position: relative;
    }

    .header__main-image{
      display: none;
    }

    .section__titulo{
      position: absolute;
      right: 12rem;
      top: 23.5rem;
    }

    .titulo__marca{
      font-size: var(--titulo-banner-desktop);
    }

    .titulo__subtitle-eslogan{
      font-size: var(--subtitulo-banner-desktop);
      padding-top: 20px;
    }
  
    .header__logo{
      width: 4.8125rem;
      height: 6.125rem;
      margin-left: 1.5625rem;

      position: absolute;
      left: 10px;
      top: 10px;
    }

    .header__hamburger{
      display: none;
    }

    .nav__boton-x{
      display: none;
    }

    
    .header__image-links{
      
      height: 4.5rem;
      background-color: var(--background-color);
      margin: 0;
      
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      position: relative;
      
    }

    .header__nav-desktop{
      display: flex;
      padding-right: 1.5625rem;
      gap: .625rem;
      font-size: 2.3rem;
    }

    .nav__items-list{
      display: flex;
      justify-content: space-between;
      gap: 1.875rem;
      font-weight: 700;
      color: var(--text-color);
    }
    
    .nav__items-list li{
      transition: all ease-in-out 0.3s;
    }

    .nav__items-list li a:hover {
      transition: all ease-in-out 0.3s;
      color: var(--background-color-dos);
    }

    .nav__items-list li:hover {
      transform: scale(1.1);
      transition: all ease-in-out 0.3s;
    }

    .form{
      align-items: baseline;
      width: 60%;
      height: 31.25rem;
    }

    .form__btn{
      margin: 0 auto;
      margin-top: 2.25rem;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }

  }



  /* **************************MENU.html****************** */
  @media screen and (min-width: 1200px){ 

    .subtitle__nuestros-productos,
    .subtitle__green-vitality,
    .subtitle__red-energy,
    .subtitle__yellow-sunshine {
      font-size: 3.125rem;
      text-align: center;
    }

    .container__first-product,
    .container__second-product,
    .container__third-product{

      display: flex;
    }

    .image__title-green-vitality,
    .image__title-yellow-sunshine,
    .image__title-red-energy{
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
    }

    .content__green-vitality,
    .content__yellow-sunshine,
    .content__red-energy{
      font-size: 2.5rem;
      width: 400px;
    }

    .image__container{
      margin: 1.875rem;
      margin-top: 2.5rem;
      margin-bottom: 3.75rem;
      border-radius: .5rem;
    }

    .subtitle__nuestros-productos{
      margin-top: 4.6875rem;
      margin-bottom: 4.6875rem;
      text-align: center;
    }

    .container__content-green-vitality,
    .container__content-yellow-sunshine,
    .container__content-red-energy{
      display: flex;
      justify-content: center;
      align-items: center;
      
      margin: 3.375rem 2.00rem;
    }

    

  }

  /* **********************BENEFICIOS.html (mobile)****************** */

  .beneficios__container{
    width: 100%;
  }

  .container__image-content{
    width: 100%;
    height: 300px;

    background: url(../img/desktop/digestivo.avif) center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container__section-content{
    background-color: var(--background-section);
    padding: .9375rem 2.1875rem;
    border-top: 1px solid var(--text-color);
  }

  .text__content-introduction{
    font-size: var(--parrafos-contenido);
    margin: 2.1875rem 1.25rem;
    line-height: 1.3;
    color: var(--text-color);
    
  }
  
  .container__title-content{
    font-size: 1.5rem;
    margin-block: .9375rem;
    color: var(--text-color);
    text-align: center;
  }
  
  .container__content-text{
    font-size: var(--parrafos-contenido);
    margin-top: .9375rem;
    margin-bottom: 1.25rem;
    color: var(--text-color);
  }

  .container__section-content{
    width: 100%;
    height: 42dvh;
  }

  .container__image-energy{
    background: url(../img/desktop/felicidad\ animo.avif) center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container__image-inmunologico{
    background: url(../img/desktop/fuerte.avif) center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container__image-weight-loss{
    background: url(../img/desktop/perdida\ de\ peso.avif) center center;
    background-repeat: no-repeat;
    background-size: cover;
  }


 

  /* **********************BENEFICIOS.html (desktop)****************** */
  @media screen and (min-width: 1200px){

    .text__content-introduction{
      margin: 2.8125rem 7.5rem;
      font-size: 3.125rem;
    }

    .container__title-content{
      font-size: var(--titulo-contenido-desktop);

    }

    .container__content-text{
      font-size: var(--parrafos-contenido-desktop);
      line-height: 1.3;
    }

    .container__section-content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row-reverse;
      padding: 0rem;
      margin-left: 0rem;
      width: 100%;
      height: 50vh;
    }

    .container__title-content-text{
      

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;gap: 1.25rem;

      margin: 0px 0px 0px 3.75rem;
      width: 50%;
    }

    .energy__content,
    .weight-loss__content{
      flex-direction: row;
      margin: 0rem;
    } 

    .container__energy-content{
      margin-right: 1.875rem;
    }

    .container__weight-loss-content{
      margin-right: 1.875rem;
    }

    .container__title-content{
      padding-top: 1.25rem;
    }

    .container__content-text{
      height: 100%;
      width: 100%;
      font-weight: 200;
    }

    .container__image-content{
      width: 50%;
      height: 100%;
    }

  }

/* **********************SOSTENIBILIDAD.html (movil)****************** */

.main__container{
  max-width: 90%;
}

.container__sostenibilidad{
  background-color: var(--background-section);
  border: 1px solid var(--text-color);
  border-radius: 8px;
  margin: 1.25rem 0rem;
}
   
.medio-ambiente-title{
  font-size: 2rem;
  color: var(--text-color);
  text-align: center;
  margin: 1.25rem;
  margin-bottom: 0rem;
}

.medio-ambiente__text-content,
.calentamiento-global__text-content,
.reciclaje__text-content{
  font-size: var(--parrafos-contenido);
  font-weight: 200;
}

.medio-ambiente__text-content,
.calentamiento-global__text-content,
.reciclaje__text-content{
  margin: 1.25rem;
  margin-top: 0rem;
  color: var(--text-color);
}

.sostenibilidad__image-text-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.prueba__medio-ambiente{

  width: 19.625rem;
  height: 15.625rem;

  background: url(../svg/ecology-88.svg) center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.prueba__calentamiento{

  width: 19.625rem;
  height: 15.625rem;

  background: url(../svg/global-warming-69.svg) center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.prueba__reciclaje{

  width: 19.625rem;
  height: 15.625rem;

  background: url(../svg/recycling-4-66.svg) center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* **********************SOSTENIBILIDAD.html (desktop)****************** */

@media screen and (min-width: 1200px) {
  
  .main__container{
    margin: 5.625rem 0px;
  }

  .sostenibilidad__image-text-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  
  }

  .medio-ambiente__text-content,
  .calentamiento-global__text-content,
  .reciclaje__text-content{

    font-size: var(--parrafos-contenido-desktop);
    color: var(--text-color);
  }

  .medio-ambiente-title{
    font-size: var(--titulo-contenido-desktop);
    color: var(--text-color);
    margin-bottom: 5rem;
    margin-top: 3.125rem;
  }

  .reciclaje__text-content,
  .medio-ambiente__text-content,
  .calentamiento-global__text-content{
    width: 50%;
    margin-left: 5.625rem;
    margin-bottom: 5.625rem;
    font-weight: 200;
  }

  .prueba__medio-ambiente,
  .prueba__calentamiento,
  .prueba__reciclaje{
    width: 52.625rem;
    height: 34.625rem;
    margin-bottom: 90px;
    margin-right: 50px;
  }

  .prueba__calentamiento{
    width: 47.625rem;
    height: 38.625rem;
  }

  .calentamiento-global__text-image-content{
    display: flex;
    flex-direction: row-reverse;

  }

  .calentamiento-global__text-content{
    margin-left: 0rem;
    margin-right: 5.625rem;
  }

}

/* **********************FAQ.html (MOBILE)****************** */

.container__faq{
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  flex-direction: column;
  margin-top: 1.25rem;
}


.questions__title{
  font-size: var(--titulo-contenido);
  text-align: center;
  color: var(--text-color);
  padding: 1.25rem;
}

.questions__content{
  font-size: var(--parrafos-contenido);
  color: var(--text-color);
  font-weight: 200;
  padding: 0rem 1.25rem 1.25rem 1.25rem
}

.container__questions-general{
  display: flex;
  justify-content: center;
  align-items: center;



  background-color: var(--background-section);
  border: 1px solid var(--text-color);
  border-radius: .5rem;
  height: 15.625rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.container__image-footer-faq{
  width: 100%;
  height: 9.375rem;

  margin-top: .9375rem;
  background: url(../img/desktop/boteFrutas.avif) center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* **********************FAQ.html (DESKTOP)****************** */

@media screen and (min-width: 1200px){
  .container__faq{
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7.1875rem;
    margin-top: 11.875rem;
    margin-bottom: 11.875rem;
    
  }

  .questions__title{
    font-size: var(--titulo-contenido-desktop);
  }

  .questions__content{
    font-size: var(--parrafos-contenido-desktop);
  }

  .container__questions-general{
    width: 49.9375rem;
    height: 49.0625rem;
      
  }

  .container__image-footer-faq{
    margin-top: 0rem;

    height: 31.25rem;
  }

}

/* **********************ABOUT.html (MOBILE)****************** */

.container__acerca-de-nosotros{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
}

.container__acerca-de-nosotros{
  max-width: 90%;
  padding: 1.25rem 0rem;
}

.main__nosotros{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  background-color: var(--background-color);
  padding: 1.25rem;
  border-radius: .5rem;
  font-size: var(--parrafos-contenido);
  font-weight: 200;
  color: var(--text-color);
  
  width: 100%;
  height: auto;
}

.nosotros__content{
  margin-bottom: 1.25rem;
}

.container__image-nosotros-zumos{
  background-color: var(--background-section);
  border: 1px solid var(--text-color);
  border-radius: .5rem;
}

.container__image-nosotros-fruits{

  width: 100%;
  height: 15.3125rem;

  border: 1px solid var(--text-color);
  border-radius: .5rem;
  overflow: hidden;
  background: url(../img/desktop/frutas.avif) center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* **********************ABOUT.html (DESKTOP)****************** */

@media screen and (min-width: 1200px){

  .main__nosotros{
    font-size: 2.5rem;
    padding: 20px;
  }

  .nosotros__content{
    width: fit-content;
  }

  .main__nosotros{
    width: fit-content;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    gap: 20px;
  }

  .container__image-nosotros-fruits{
    width: 100%;
    height: 50.25rem;
  }

  .container__image-nosotros-zumos{
    width: fit-content;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: 500px;
  }

  .container__main-nosotros-zumos{
    display: flex;
    flex-direction: row;
  }

  .content__text{
    width: 100%;
  }

  .image__fruits{
    height: 38.25rem;
  }

}


